@use 'base/variables' as v;
@use 'base/mixins' as m;

.form-container {
    max-width: 600px;
    margin: 0 auto 9rem auto;
    padding: 1rem;

    .form-section {
        background-color: #ffffff; // Mantén el fondo blanco para contraste
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Aumenta la sombra para profundidad
        margin: 3rem 0;
        padding: 20px;
        color: #333;
    }
    
    h2 {
        color: v.$blue-tone-cold; // Usa el tono frío como color de encabezado
        margin-bottom: 20px;
        font-size: 24px; // Aumenta el tamaño de fuente
        text-align: center; // Centra el texto
    }
    
    form {
        display: grid;
        gap: 20px; // Aumenta el espacio entre elementos
    }
    
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: v.$dark-blue-tone-cold; // Usa el tono oscuro para las etiquetas
    }
    
    input[type="text"],
    input[type="url"],
    textarea,
    select {
        width: 100%;
        padding: 10px; // Aumenta el padding para comodidad
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color 0.3s ease; // Añade transición a los bordes
    }

    input[type="text"]:focus,
    input[type="url"]:focus,
    textarea:focus,
    select:focus {
        border-color: v.$blue-tone-cold; // Cambia el color del borde al enfocar
        outline: none; // Elimina el contorno predeterminado
    }
    
    textarea {
        height: 100px;
        resize: vertical;
    }
    
    button {
        background-color: v.$blue-tone-cold; // Tono frío como fondo del botón
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease; // Añade transformación
    }
    
    button:hover {
        background-color: #1a4a7a; // Un tono más oscuro para el hover
        transform: translateY(-2px); // Añade un ligero efecto de elevación
    } 
}
